<html>
    <head>

<style>
.container{background: linear-gradient(180deg, #00C9FF 0%, #92FE9D 100%);}
.box{
	width:32%;
	height:70%;
	margin:auto;
	margin-top: 5%;
	padding:35px;
	background: white;
	border-radius: 20px;
	transition: padding 1s;
	font-family:Candara;
}
.head{
	display:block;
	text-align:center;
	width:100%;
}


</style>
 </head>
    <body class="container" >
		<div class="box">
			<h1><label class="head">Details</label></h1>
			<table align="center">
				<tr >
					<td style="padding:10px"><strong>First Name:</strong></td>
					<td style="padding:10px">{{fname}}</td>
				</tr>
				<tr>
					<td style="padding:10px"><strong>Last Name:</strong></td>
					<td style="padding:10px">{{lname}}</td>
				</tr>
				<tr>
					<td style="padding:10px"><strong>Contact:</strong></td>
					<td style="padding:10px">{{contact}}</td>
				</tr>
				<tr>
					<td style="padding:10px"><strong>Aadhar:</strong></td>
					<td style="padding:10px">{{aadhar}}</td>
				</tr>
				<tr>
					<td style="padding:10px"><strong>number of people:</strong></td>
					<td style="padding:10px">{{people}}</td>
				</tr>
				<tr>
					<td style="padding:10px"><strong>From:</strong></td>
					<td style="padding:10px">{{frm}}</td>
				</tr>
				<tr>
					<td style="padding:10px"><strong>To:</strong></td>
					<td style="padding:10px">{{to}}</td>
				</tr>
				<tr>
					<td style="padding:10px"><strong>Date:</strong></td>
					<td style="padding:10px">{{date}}</td>
				</tr>
				<tr>
					<td style="padding:10px"><strong>Status:</strong></td>
					<td style="padding:10px">{{status}}</td>
				</tr>
			</table>
		</div>
    </body>
</html>

